body {
  background-image: url('3024.jpg');
  background-size: cover;
}

#paint-canvas {
  border-style: solid;
}
.content {
text-align: center;
margin-top: 8vh
}
.color-menu ul{
  list-style: none;

}

.color-menu li{
  display: inline;
}

.brush-size-menu ul{
  list-style: none;
}

.brush-size-menu li{
  display: inline;
}

.clear-canvas-menu ul{
  list-style: none;
}
