body {
  background-image: url('3024.jpg');
  background-size: cover;
}

#paint-canvas {
  border-style: solid;
}
.content {
text-align: center;
margin-top: 8vh
}

.menu ul {
  list-style: none;
}

.menu button {
  background-color: yellow;
  color: black;
}
.color-menu li{
  display: inline;
}


.brush-size-menu li{
  display: inline;
}
